<h2><%= @list.title %></h2>

<p><%= link_to "New Task", new_task_path(:list_id => @list.id) %></p>

<h3>Description:</h3>
<%= @list.description %>

<h3>Current Tasks:</h3>
<table id="task_table" class="tablesorter">
  <thead>
    <th>Title</th>
    <th>Notes</th>
    <th>Start Date</th>
    <th>Due Date</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% @list.tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task_path(task) %> </td>
        <td><%= task.notes %></td>
        <td><%= task.start_date.to_date %></td>
        <td><%= task.due_date.to_date %></td>
        <td><%= task.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Edit this list", edit_list_path(@list) %></p>

<p> <%= link_to "Return to the Lists", lists_path %> </p>