<%= link_to "Return to #{@task.list.title}", list_path(@task.list) %>
<p>List this task is in: <%= @task.list.title %></p>

<p> Task Title: <%= @task.title %></p>
<p> Task Notes: <%= @task.notes %></p>
<p> Task Start Date: <%= @task.start_date.to_date %></p>
<p> Task Due Date: <%= @task.due_date.to_date %></p>
<p> <%= link_to "Delete Task", task_path(@task), method: :delete %></p>

<% if @task.image != nil %>
  <p> <%= image_tag @task.image.url(:medium) %><%= link_to 'Delete Image', delete_image_path(task_id: @task.id), method: :delete %></p>
<% end %>

<p>Status: <%= @task.status %></p>